name: Pylint
permissions:
  contents: read

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
    - name: Analysing the code with pylint
      run: |
        pylint --disable=C0103,C0114,C0115,C0116,C0200,C0209,C0301,E0401,E0402,R0801,R0902,R0913,R0917,W0223,W0511,W0612 $(git ls-files '*.py')
